Repository cboyd0319/PoshGuard, changes with the labels that .github/labeler.yml gives for each.
All labels: 📝 documentation, ⚙️ workflows, 🧪 tests, 💻 code, 🔧 config, 🛠️ tools, 🔒 security, 📦 dependencies, 🚀 release, 📊 benchmarks, 🎨 vscode-extension

Add stuff
  .lycheeignore copy
  .markdownlint.jsonc
  .vale copy.ini
Labels: 💻 code

Delete .lycheeignore copy
  .lycheeignore copy
Labels: 💻 code

Delete .github/workflows/README.md
  .github/workflows/README.md
Labels: 📝 documentation, ⚙️ workflows, 💻 code

Add comprehensive Pester v5+ test suite with CI/CD pipeline for PoshGuard (#40)
  .github/workflows/pester-tests.yml
  .psscriptanalyzer.psd1
  docs/TESTING_IMPLEMENTATION.md
  docs/TEST_PLAN.md
  tests/Helpers/TestHelpers.psm1
  tests/README.md
  tests/Unit/ConfigurationManager.Tests.ps1
  tests/Unit/Core.Tests.ps1
  tests/Unit/Formatting/Aliases.Tests.ps1
  tests/Unit/Security.Tests.ps1
Labels: 📝 documentation, ⚙️ workflows, 🧪 tests, 💻 code

Add comprehensive Pester test suite with 54 new tests and enhanced infrastructure (#41)
  .github/workflows/pester-tests.yml
  config/ai.json
  tests/Helpers/MockBuilders.psm1
  tests/Helpers/TestData.psm1
  tests/IMPLEMENTATION_SUMMARY.md
  tests/README.md
  tests/TEST_PLAN.md
  tests/Unit/BestPractices/Naming.Tests.ps1
  tests/Unit/BestPractices/Syntax.Tests.ps1
  tests/Unit/Formatting/Whitespace.Tests.ps1
Labels: ⚙️ workflows, 🧪 tests, 💻 code, 🔧 config

Fix Coverage workflow: Correct coverage percentage calculation for Pester 5.x
  .github/workflows/coverage.yml
Labels: ⚙️ workflows, 💻 code

Fix Coverage workflow: Use CoverageReport property for accurate percentage
  .github/workflows/coverage.yml
Labels: ⚙️ workflows, 💻 code

Fix Coverage workflow: Explicitly resolve all module files for code coverage tracking
  .github/workflows/coverage.yml
Labels: ⚙️ workflows, 💻 code

Implement comprehensive Pester v5+ test suite for PoshGuard modules (#42)
  tests/COMPREHENSIVE_TEST_PLAN.md
  tests/SESSION_SUMMARY.md
  tests/Unit/EntropySecretDetection.Tests.ps1
  tests/Unit/PoshGuard.Tests.ps1
Labels: 🧪 tests, 💻 code

Implement comprehensive Pester test suite following Architect Agent playbook (318 tests, 100% passing) (#43)
  tests/COMPREHENSIVE_TEST_STRATEGY.md
  tests/IMPLEMENTATION_SUMMARY.md
  tests/Unit/Advanced/ASTTransformations.Tests.ps1
  tests/Unit/BestPractices/CodeQuality.Tests.ps1
  tests/Unit/BestPractices/Scoping.Tests.ps1
  tests/Unit/Formatting/Casing.Tests.ps1
  tests/Unit/Formatting/Output.Tests.ps1
Labels: 🧪 tests, 💻 code

Fix Coverage
  codecov.yml
Labels: 💻 code

Tweak coverage exclusions
  codecov.yml
Labels: 💻 code

Fix scorecard
  .github/workflows/scorecard.yml
Labels: ⚙️ workflows, 💻 code

Add comprehensive Pester unit tests for PoshGuard modules with CI/CD integration (#44)
  .github/workflows/comprehensive-tests.yml
  tests/COMPREHENSIVE_TEST_PLAN_v2.md
  tests/IMPLEMENTATION_SUMMARY_v2.md
  tests/Unit/Advanced.Tests.ps1
  tests/Unit/Formatting.Tests.ps1
  tests/Unit/Observability.Tests.ps1
  tests/Unit/PerformanceOptimization.Tests.ps1
Labels: ⚙️ workflows, 🧪 tests, 💻 code

Remove CodeQL
  .github/workflows/codeql.yml
  README.md
Labels: 📝 documentation, ⚙️ workflows, 💻 code, 🔒 security

Fix CI workflow
  tests/Unit/Advanced/ASTTransformations.Tests.ps1
Labels: 🧪 tests, 💻 code

Add comprehensive Pester test suite infrastructure and documentation (#45)
  tests/COMPREHENSIVE_PESTER_TEST_PLAN.md
  tests/Helpers/TestHelper.psm1
  tests/IMPLEMENTATION_SUMMARY_COMPREHENSIVE.md
  tests/QUICKSTART.md
  tests/TASK_COMPLETION.md
  tests/Unit/BestPractices/StringHandling.Tests.ps1
  tests/Unit/BestPractices/TypeSafety.Tests.ps1
Labels: 🧪 tests, 💻 code

Add comprehensive Pester test suite for PoshGuard modules following v5+ best practices (#46)
  config/ai.json
  tests/COMPREHENSIVE_TEST_PLAN_FINAL.md
  tests/Helpers/MockBuilders.psm1
  tests/IMPLEMENTATION_SUMMARY_FINAL.md
  tests/Unit/AIIntegration.Tests.ps1
  tests/Unit/Advanced/CmdletBindingFix.Tests.ps1
  tests/Unit/BestPractices.Tests.ps1
  tests/Unit/Formatting/WriteHostEnhanced.Tests.ps1
  tests/Unit/SupplyChainSecurity.Tests.ps1
Labels: 🧪 tests, 💻 code, 🔧 config

[WIP] Add comprehensive Pester test suites with CI integration (#47)
  config/ai.json
  tests/COMPREHENSIVE_TEST_PLAN_PESTER.md
  tests/Unit/AdvancedCodeAnalysis.Tests.ps1
  tests/Unit/AdvancedDetection.Tests.ps1
  tests/Unit/EnhancedMetrics.Tests.ps1
Labels: 🧪 tests, 💻 code, 🔧 config

Delete IMPLEMENTATION_SUMMARY.txt
  IMPLEMENTATION_SUMMARY.txt
Labels: 💻 code

Add comprehensive Pester test suite for all 48 PowerShell modules (800+ tests) (#48)
  tests/COMPREHENSIVE_TEST_PLAN.md
  tests/Unit/Advanced/AttributeManagement.Tests.ps1
  tests/Unit/Advanced/CodeAnalysis.Tests.ps1
  tests/Unit/Advanced/CompatibleCmdletsWarning.Tests.ps1
  tests/Unit/Advanced/DefaultValueForMandatoryParameter.Tests.ps1
  tests/Unit/Advanced/DeprecatedManifestFields.Tests.ps1
  tests/Unit/Advanced/Documentation.Tests.ps1
  tests/Unit/Advanced/InvokingEmptyMembers.Tests.ps1
  tests/Unit/Advanced/ManifestManagement.Tests.ps1
  tests/Unit/Advanced/OverwritingBuiltInCmdlets.Tests.ps1
  tests/Unit/Advanced/ParameterManagement.Tests.ps1
  tests/Unit/Advanced/ShouldProcessTransformation.Tests.ps1
  tests/Unit/Advanced/UTF8EncodingForHelpFile.Tests.ps1
  tests/Unit/BestPractices/UsagePatterns.Tests.ps1
  tests/Unit/EnhancedSecurityDetection.Tests.ps1
  tests/Unit/Formatting/Alignment.Tests.ps1
  tests/Unit/Formatting/Runspaces.Tests.ps1
  tests/Unit/MCPIntegration.Tests.ps1
  tests/Unit/NISTSP80053Compliance.Tests.ps1
  tests/Unit/OpenTelemetryTracing.Tests.ps1
  tests/Unit/ReinforcementLearning.Tests.ps1
  tests/Unit/SecurityDetectionEnhanced.Tests.ps1
Labels: 🧪 tests, 💻 code

Delete IMPLEMENTATION_COMPLETE.md
  IMPLEMENTATION_COMPLETE.md
Labels: 📝 documentation, 💻 code

Delete PR_SUMMARY.md
  PR_SUMMARY.md
Labels: 📝 documentation, 💻 code

Delete README.md
  README.md
Labels: 📝 documentation, 💻 code

Add comprehensive Pester test suite enhancements with advanced helpers and documentation (#50)
  tests/COMPREHENSIVE_TEST_PLAN_FINAL_V2.md
  tests/Helpers/AdvancedMockBuilders.psm1
  tests/Helpers/PropertyTesting.psm1
  tests/IMPLEMENTATION_SUMMARY_COMPREHENSIVE_V3.md
  tests/QUICKSTART_COMPREHENSIVE_TESTS.md
  tests/Unit/ConfigurationManager.Tests.ps1
Labels: 🧪 tests, 💻 code

Add comprehensive Pester Architect test suite documentation and infrastructure (#51)
  .github/workflows/pester-architect-tests.yml
  test-results.xml
  tests/.psscriptanalyzer.tests.psd1
  tests/EXEMPLAR_PESTER_ARCHITECT_TEST.ps1
  tests/IMPLEMENTATION_SUMMARY_PESTER_ARCHITECT.md
  tests/PESTER_ARCHITECT_TEST_PLAN.md
  tests/QUICK_REFERENCE.md
  tests/README.md
  tests/TEST_RATIONALE.md
  tests/run-local-tests.ps1
Labels: ⚙️ workflows, 🧪 tests, 💻 code

Comprehensive Pester Architect test suite with bug fixes and documentation (#52)
  config/ai.json
  tests/COMPREHENSIVE_TEST_PLAN_PESTER_ARCHITECT_V2.md
  tests/EXEMPLAR_PESTER_ARCHITECT_TEST_v2.ps1
  tests/PESTER_ARCHITECT_IMPLEMENTATION_COMPLETE.md
  tests/QUICK_START_PESTER_ARCHITECT.md
  tests/TEST_RATIONALE_PESTER_ARCHITECT.md
  tools/lib/AdvancedCodeAnalysis.psm1
Labels: 🧪 tests, 💻 code, 🔧 config, 🛠️ tools

[WIP] Add comprehensive Pester testing framework for QA (#53)
  docs/PESTER_ARCHITECT_ANALYSIS.md
  tests/Unit/Core.Tests.ps1
Labels: 📝 documentation, 🧪 tests, 💻 code

Enhance PoshGuard Test Suite: Fix Failures, Add Quality Analysis Tools & Comprehensive Audit (#54)
  config/ai.json
  test-quality-output.txt
  tests/COMPREHENSIVE_TEST_AUDIT_2025.md
  tests/Test-Quality-Analysis.ps1
  tests/Unit/AdvancedCodeAnalysis.Tests.ps1
Labels: 🧪 tests, 💻 code, 🔧 config

Update MCP
  .github/copilot-mcp.json
  SECURITY.md
Labels: 📝 documentation, 💻 code, 🔒 security

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: ⚙️ workflows, 💻 code

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: ⚙️ workflows, 💻 code

Add Claude Code GitHub Workflow (#55)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: ⚙️ workflows, 💻 code

Cleanup .github/workflows
  .github/copilot-mcp.json
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: ⚙️ workflows, 💻 code

Update Playwright MCP
  .github/copilot-mcp.json
Labels: 💻 code

Add comprehensive Pester test suite for all PowerShell tool scripts following Pester Architect principles (#56)
  tests/COMPREHENSIVE_TEST_SUITE_SUMMARY.md
  tests/Unit/Tools/Apply-AutoFix.Tests.ps1
  tests/Unit/Tools/Create-Release.Tests.ps1
  tests/Unit/Tools/Prepare-PSGalleryPackage.Tests.ps1
  tests/Unit/Tools/Restore-Backup.Tests.ps1
  tests/Unit/Tools/Run-Benchmark.Tests.ps1
  tests/Unit/Tools/Show-GettingStarted.Tests.ps1
  tests/Unit/Tools/Start-InteractiveTutorial.Tests.ps1
Labels: 🧪 tests, 💻 code

Add comprehensive Pester test suite with 90%+ coverage and testing documentation (#57)
  tests/COVERAGE_REPORT.md
  tests/TESTING_GUIDE.md
  tests/Unit/Core.Tests.ps1
  tests/Unit/PoshGuard.Tests.ps1
Labels: 🧪 tests, 💻 code

Comprehensive Unit Test Coverage Analysis and Improvements: 90%+ Coverage Achieved (#58)
  tests/COMPREHENSIVE_TEST_COVERAGE_REPORT.md
  tests/Unit/AdvancedDetection.Tests.ps1
  tests/Unit/PoshGuard.Tests.ps1
Labels: 🧪 tests, 💻 code

Add comprehensive test suite enhancements for PoshGuard modules - Pester v5+ coverage improvements (#59)
  TEST_COVERAGE_REPORT.md
  tests/Unit/EntropySecretDetection.Tests.ps1
  tests/Unit/PerformanceOptimization.Tests.ps1
Labels: 📝 documentation, 🧪 tests, 💻 code

Add RipGrep Instructions
  docs/RIPGREP_INTEGRATION.md
Labels: 📝 documentation, 💻 code

.github/labeler.yml:

# Configuration for PR auto-labeling
# Labels are applied based on changed files

'📝 documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.github/**/*.md'

'⚙️ workflows':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

'🧪 tests':
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/Tests.ps1'

'💻 code':
  - changed-files:
    - any-glob-to-any-file:
      - 'PoshGuard/**/*.ps1'
      - 'PoshGuard/**/*.psm1'
      - 'PoshGuard/**/*.psd1'
      - '!PoshGuard/**/*.Tests.ps1'

'🔧 config':
  - changed-files:
    - any-glob-to-any-file:
      - 'config/**'
      - '.github/dependabot.yml'
      - '.editorconfig'

'🛠️ tools':
  - changed-files:
    - any-glob-to-any-file:
      - 'tools/**'

'🔒 security':
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - 'docs/SECURITY.md'
      - 'config/SecurityRules.psd1'
      - '.github/workflows/code-scanning.yml'
      - '.github/workflows/codeql.yml'

'📦 dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'PoshGuard/PoshGuard.psd1'
      - '.github/dependabot.yml'

'🚀 release':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/CHANGELOG.md'
      - '.github/workflows/release.yml'
      - 'PoshGuard/VERSION.txt'

'📊 benchmarks':
  - changed-files:
    - any-glob-to-any-file:
      - 'benchmarks/**'
      - 'tools/Run-Benchmark.ps1'

'🎨 vscode-extension':
  - changed-files:
    - any-glob-to-any-file:
      - 'vscode-extension/**'
