Repository cboyd0319/PoshGuard, changes with the labels that .github/labeler.yml gives for each.
All labels: 📝 documentation, ⚙️ workflows, 🧪 tests, 💻 code, 🔧 config, 🛠️ tools, 🔒 security, 📦 dependencies, 🚀 release, 📊 benchmarks, 🎨 vscode-extension

Implement comprehensive RipGrep integration for 10-100x faster scanning and enhanced security features (#60)
  .github/workflows/poshguard-incremental.yml
  PoshGuard/PoshGuard.psm1
  RIPGREP_IMPLEMENTATION_SUMMARY.md
  docs/ARCHITECTURE.md
  samples/pre-commit-hook.ps1
  samples/ripgrep-examples.ps1
  tests/Unit/RipGrep.Tests.ps1
  tools/Apply-AutoFix.ps1
  tools/lib/Core.psm1
  tools/lib/RipGrep.psm1
Labels: 📝 documentation, ⚙️ workflows, 🧪 tests, 💻 code, 🛠️ tools

Document and verify complete RipGrep integration for 5-10x faster scanning (#61)
  README.md
  RIPGREP_INTEGRATION_VERIFICATION.md
  docs/DOCUMENTATION_INDEX.md
  docs/RIPGREP_USAGE_GUIDE.md
Labels: 📝 documentation, 💻 code

Update Readme and logo
  README.md
  docs/images/logo.png
Labels: 📝 documentation, 💻 code

Comprehensive Pester test suite enhancement: Achieve 90%+ coverage with world-class test quality (#62)
  TEST_COVERAGE_REPORT.md
  tests/COMPREHENSIVE_TEST_ENHANCEMENT_SUMMARY.md
  tests/Unit/AIIntegration.Tests.ps1
  tests/Unit/AdvancedDetection.Tests.ps1
  tests/Unit/EnhancedSecurityDetection.Tests.ps1
  tests/Unit/PerformanceOptimization.Tests.ps1
  tools/lib/PerformanceOptimization.psm1
Labels: 📝 documentation, 🧪 tests, 💻 code, 🛠️ tools

Optimize test suite performance: Remove Start-Sleep anti-patterns and implement Pester Architect best practices (#63)
  .psscriptanalyzer.tests.psd1
  TEST_OPTIMIZATION_SUMMARY.md
  docs/TEST_PERFORMANCE_BEST_PRACTICES.md
  tests/EnhancedMetrics.Tests.ps1
  tests/Unit/Core.Tests.ps1
  tools/lib/Advanced.psm1
Labels: 📝 documentation, 🧪 tests, 💻 code, 🛠️ tools

Fix test suite performance issues - eliminate hanging tests and improve testability (#64)
  config/ai.json
  tests/Unit/AIIntegration.Tests.ps1
  tests/Unit/AdvancedDetection.Tests.ps1
  tools/lib/AIIntegration.psm1
Labels: 🧪 tests, 💻 code, 🔧 config, 🛠️ tools

Optimize test suite performance: Fix hanging tests and implement fast/slow categorization (#65)
  .github/workflows/comprehensive-tests.yml
  TEST_OPTIMIZATION_FINAL.md
  config/ai.json
  docs/TEST_PERFORMANCE_GUIDE.md
  tests/Unit/AIIntegration.Tests.ps1
  tests/Unit/AdvancedCodeAnalysis.Tests.ps1
  tests/Unit/AdvancedDetection.Tests.ps1
  tests/Unit/SupplyChainSecurity.Tests.ps1
  tools/Analyze-TestPerformance.ps1
Labels: 📝 documentation, ⚙️ workflows, 🧪 tests, 💻 code, 🔧 config, 🛠️ tools

Optimize test suite performance by eliminating forced module reloads (#66)
  TEST_PERFORMANCE_OPTIMIZATION_SUMMARY.md
  config/ai.json
  docs/TEST_OPTIMIZATION_GUIDE.md
  docs/TEST_PERFORMANCE_ISSUES.md
  tests/Unit/AIIntegration.Tests.ps1
  tests/Unit/Advanced.Tests.ps1
  tests/Unit/AdvancedCodeAnalysis.Tests.ps1
  tests/Unit/AdvancedDetection.Tests.ps1
  tests/Unit/BestPractices.Tests.ps1
  tests/Unit/ConfigurationManager.Tests.ps1
  tests/Unit/Core.Tests.ps1
  tests/Unit/EnhancedMetrics.Tests.ps1
  tests/Unit/EnhancedSecurityDetection.Tests.ps1
  tests/Unit/EntropySecretDetection.Tests.ps1
  tests/Unit/Formatting.Tests.ps1
  tests/Unit/MCPIntegration.Tests.ps1
  tests/Unit/NISTSP80053Compliance.Tests.ps1
  tests/Unit/Observability.Tests.ps1
  tests/Unit/OpenTelemetryTracing.Tests.ps1
  tests/Unit/PerformanceOptimization.Tests.ps1
  tests/Unit/PoshGuard.Tests.ps1
  tests/Unit/ReinforcementLearning.Tests.ps1
  tests/Unit/RipGrep.Tests.ps1
  tests/Unit/Security.Tests.ps1
  tests/Unit/SecurityDetectionEnhanced.Tests.ps1
  tests/Unit/SupplyChainSecurity.Tests.ps1
Labels: 📝 documentation, 🧪 tests, 💻 code, 🔧 config

Logo Update
  docs/images/logo.png
Labels: 📝 documentation, 💻 code

Optimize test suite performance by eliminating console I/O overhead - 87% faster (#67)
  TEST_PERFORMANCE_OPTIMIZATION_COMPLETE.md
  tests/AdvancedDetection.Tests.ps1
  tests/EnhancedMetrics.Tests.ps1
  tests/Helpers/TestHelpers.psm1
  tests/Unit/AIIntegration.Tests.ps1
  tests/Unit/Advanced.Tests.ps1
  tests/Unit/AdvancedCodeAnalysis.Tests.ps1
  tests/Unit/AdvancedDetection.Tests.ps1
  tests/Unit/BestPractices.Tests.ps1
  tests/Unit/ConfigurationManager.Tests.ps1
  tests/Unit/Core.Tests.ps1
  tests/Unit/EnhancedMetrics.Tests.ps1
  tests/Unit/EnhancedSecurityDetection.Tests.ps1
  tests/Unit/EntropySecretDetection.Tests.ps1
  tests/Unit/Formatting.Tests.ps1
  tests/Unit/MCPIntegration.Tests.ps1
  tests/Unit/NISTSP80053Compliance.Tests.ps1
  tests/Unit/Observability.Tests.ps1
  tests/Unit/OpenTelemetryTracing.Tests.ps1
  tests/Unit/PerformanceOptimization.Tests.ps1
  tests/Unit/PoshGuard.Tests.ps1
  tests/Unit/ReinforcementLearning.Tests.ps1
  tests/Unit/RipGrep.Tests.ps1
  tests/Unit/Security.Tests.ps1
  tests/Unit/SecurityDetectionEnhanced.Tests.ps1
  tests/Unit/SupplyChainSecurity.Tests.ps1
Labels: 📝 documentation, 🧪 tests, 💻 code

CodeCov Update
  .github/workflows/comprehensive-tests.yml
  .github/workflows/pester-architect-tests.yml
  .github/workflows/pester-tests.yml
Labels: ⚙️ workflows, 💻 code

Optimize test suite performance: Fix infinite recursion and remove unnecessary module reloads (#68)
  TEST_PERFORMANCE_OPTIMIZATION_FINAL_REPORT.md
  config/ai.json
  tests/Unit/AIIntegration.Tests.ps1
  tests/Unit/Advanced.Tests.ps1
  tests/Unit/AdvancedCodeAnalysis.Tests.ps1
  tests/Unit/AdvancedDetection.Tests.ps1
  tests/Unit/BestPractices.Tests.ps1
  tests/Unit/ConfigurationManager.Tests.ps1
  tests/Unit/Core.Tests.ps1
  tests/Unit/EnhancedMetrics.Tests.ps1
  tests/Unit/EnhancedSecurityDetection.Tests.ps1
  tests/Unit/EntropySecretDetection.Tests.ps1
  tests/Unit/Formatting.Tests.ps1
  tests/Unit/MCPIntegration.Tests.ps1
  tests/Unit/NISTSP80053Compliance.Tests.ps1
  tests/Unit/Observability.Tests.ps1
  tests/Unit/OpenTelemetryTracing.Tests.ps1
  tests/Unit/PerformanceOptimization.Tests.ps1
  tests/Unit/PoshGuard.Tests.ps1
  tests/Unit/ReinforcementLearning.Tests.ps1
  tests/Unit/RipGrep.Tests.ps1
  tests/Unit/Security.Tests.ps1
  tests/Unit/SecurityDetectionEnhanced.Tests.ps1
  tests/Unit/SupplyChainSecurity.Tests.ps1
  tools/lib/AdvancedCodeAnalysis.psm1
Labels: 📝 documentation, 🧪 tests, 💻 code, 🔧 config, 🛠️ tools

Deep code analysis: Fix 3,863 PSScriptAnalyzer issues across all source files (#78)
  config/PSScriptAnalyzerSettings.psd1
  config/QASettings.psd1
  config/SecurityRules.psd1
  tests/.psscriptanalyzer.tests.psd1
  tests/EXEMPLAR_PESTER_ARCHITECT_TEST_v2.ps1
  tests/Unit/Core.Tests.ps1
  tools/Analyze-TestPerformance.ps1
  tools/Apply-AutoFix.ps1
  tools/Create-Release.ps1
  tools/Prepare-PSGalleryPackage.ps1
  tools/Restore-Backup.ps1
  tools/Run-Benchmark.ps1
  tools/Show-GettingStarted.ps1
  tools/Start-InteractiveTutorial.ps1
  tools/lib/AIIntegration.psm1
  tools/lib/Advanced/DefaultValueForMandatoryParameter.psm1
  tools/lib/Advanced/ParameterManagement.psm1
  tools/lib/AdvancedCodeAnalysis.psm1
  tools/lib/AdvancedDetection.psm1
  tools/lib/ConfigurationManager.psm1
  tools/lib/Core.psm1
  tools/lib/EnhancedSecurityDetection.psm1
  tools/lib/MCPIntegration.psm1
  tools/lib/Observability.psm1
  tools/lib/OpenTelemetryTracing.psm1
  tools/lib/PerformanceOptimization.psm1
  tools/lib/ReinforcementLearning.psm1
  tools/lib/RipGrep.psm1
  tools/lib/SupplyChainSecurity.psm1
Labels: 🧪 tests, 💻 code, 🔧 config, 🛠️ tools, 🔒 security, 📊 benchmarks

fix: Complete deep audit - fix 5 critical bugs and update all documentation
  AUDIT_REPORT.md
  EXPLORATION_INDEX.md
  POSHGUARD_AUDIT_SUMMARY.md
  QUICK_REFERENCE.md
  REPOSITORY_STRUCTURE_COMPLETE.md
  docs/development/ci-integration.md
  docs/quick-start.md
  docs/usage.md
  samples/after-beyond-pssa.ps1
  samples/after-security-issues.ps1
  samples/before-beyond-pssa.ps1
  tools/Apply-AutoFix.ps1
  tools/lib/Core.psm1
  tools/lib/RipGrep.psm1
Labels: 📝 documentation, 💻 code, 🛠️ tools

feat: Implement 8 critical enhancements for usability and functionality
  ENHANCEMENTS_REPORT.md
  tools/Apply-AutoFix.ps1
  tools/lib/Core.psm1
Labels: 📝 documentation, 💻 code, 🛠️ tools

docs: Clean up 36 duplicate and outdated documentation files
  EXPLORATION_INDEX.md
  POSHGUARD_AUDIT_SUMMARY.md
  QUICK_REFERENCE.md
  REPOSITORY_STRUCTURE_COMPLETE.md
  RIPGREP_IMPLEMENTATION_SUMMARY.md
  RIPGREP_INTEGRATION_VERIFICATION.md
  TEST_COVERAGE_REPORT.md
  TEST_OPTIMIZATION_FINAL.md
  TEST_OPTIMIZATION_SUMMARY.md
  TEST_PERFORMANCE_OPTIMIZATION_COMPLETE.md
  TEST_PERFORMANCE_OPTIMIZATION_FINAL_REPORT.md
  TEST_PERFORMANCE_OPTIMIZATION_SUMMARY.md
  docs/DOCUMENTATION_CLEANUP_SUMMARY.md
  docs/DOCUMENTATION_INDEX.md
  docs/TEST_PLAN.md
  tests/COMPREHENSIVE_PESTER_TEST_PLAN.md
  tests/COMPREHENSIVE_TEST_COVERAGE_REPORT.md
  tests/COMPREHENSIVE_TEST_ENHANCEMENT_SUMMARY.md
  tests/COMPREHENSIVE_TEST_PLAN.md
  tests/COMPREHENSIVE_TEST_PLAN_FINAL.md
  tests/COMPREHENSIVE_TEST_PLAN_FINAL_V2.md
  tests/COMPREHENSIVE_TEST_PLAN_PESTER.md
  tests/COMPREHENSIVE_TEST_PLAN_PESTER_ARCHITECT_V2.md
  tests/COMPREHENSIVE_TEST_PLAN_v2.md
  tests/COMPREHENSIVE_TEST_STRATEGY.md
  tests/COMPREHENSIVE_TEST_SUITE_SUMMARY.md
  tests/COVERAGE_REPORT.md
  tests/IMPLEMENTATION_SUMMARY.md
  tests/IMPLEMENTATION_SUMMARY_COMPREHENSIVE.md
  tests/IMPLEMENTATION_SUMMARY_COMPREHENSIVE_V3.md
  tests/IMPLEMENTATION_SUMMARY_FINAL.md
  tests/IMPLEMENTATION_SUMMARY_v2.md
  tests/QUICKSTART.md
  tests/QUICKSTART_COMPREHENSIVE_TESTS.md
  tests/QUICK_START_PESTER_ARCHITECT.md
  tests/SESSION_SUMMARY.md
  tests/TASK_COMPLETION.md
  tests/TEST_PLAN.md
Labels: 📝 documentation, 🧪 tests, 💻 code

fix: Modernize GitHub Actions workflows - fix 4 critical failures
  .github/workflows/codeql.yml
  .github/workflows/comprehensive-tests.yml
  .github/workflows/pester-architect-tests.yml
  .github/workflows/pester-tests.yml
  .github/workflows/poshguard-incremental.yml
  docs/WORKFLOW_FIXES_SUMMARY.md
Labels: 📝 documentation, ⚙️ workflows, 💻 code, 🔒 security

Comprehensive code quality fixes - Phase 2+ (80 additional issues resolved)
  COMPREHENSIVE_FIXES_PHASE2_2025-11-11.md
  tools/lib/ASTHelper.psm1
  tools/lib/Advanced/ASTTransformations.psm1
  tools/lib/BestPractices/CodeQuality.psm1
  tools/lib/BestPractices/Naming.psm1
  tools/lib/BestPractices/Scoping.psm1
  tools/lib/BestPractices/StringHandling.psm1
  tools/lib/BestPractices/Syntax.psm1
  tools/lib/BestPractices/TypeSafety.psm1
  tools/lib/BestPractices/UsagePatterns.psm1
  tools/lib/Constants.psm1
  tools/lib/Formatting/Aliases.psm1
  tools/lib/Formatting/Alignment.psm1
  tools/lib/Formatting/Casing.psm1
  tools/lib/Formatting/Output.psm1
  tools/lib/Formatting/Runspaces.psm1
  tools/lib/Formatting/Whitespace.psm1
  tools/lib/Security.psm1
Labels: 📝 documentation, 💻 code, 🛠️ tools

Comprehensive code quality fixes - Phase 4 (Final integration & documentation)
  EXAMPLE_ASTHELPER_REFACTOR.md
  FINAL_COMPREHENSIVE_ANALYSIS_2025-11-11.md
  tools/lib/Core.psm1
  tools/lib/Security.psm1
Labels: 📝 documentation, 💻 code, 🛠️ tools

Phase 5: ASTHelper infrastructure integration and comprehensive unit tests
  tests/Unit/ASTHelper.Tests.ps1
  tests/Unit/Constants.Tests.ps1
  tools/lib/Security.psm1
Labels: 🧪 tests, 💻 code, 🛠️ tools

Phase 5: Security function refactoring using ASTHelper infrastructure
  PHASE_5_ASTHELPER_INTEGRATION.md
  tools/lib/Security.psm1
Labels: 📝 documentation, 💻 code, 🛠️ tools

Phases 6-7: Constants integration and final completion summary
  FINAL_COMPLETION_SUMMARY_2025-11-11.md
  tools/lib/AdvancedCodeAnalysis.psm1
  tools/lib/EntropySecretDetection.psm1
  tools/lib/ReinforcementLearning.psm1
Labels: 📝 documentation, 💻 code, 🛠️ tools

Phase 8: Add ASTHelper imports to 20 modules (infrastructure preparation)
  tools/lib/AIIntegration.psm1
  tools/lib/Advanced/ASTTransformations.psm1
  tools/lib/Advanced/AttributeManagement.psm1
  tools/lib/Advanced/CodeAnalysis.psm1
  tools/lib/Advanced/Documentation.psm1
  tools/lib/Advanced/ParameterManagement.psm1
  tools/lib/AdvancedDetection.psm1
  tools/lib/BestPractices/CodeQuality.psm1
  tools/lib/BestPractices/Naming.psm1
  tools/lib/BestPractices/Scoping.psm1
  tools/lib/BestPractices/StringHandling.psm1
  tools/lib/BestPractices/Syntax.psm1
  tools/lib/BestPractices/TypeSafety.psm1
  tools/lib/BestPractices/UsagePatterns.psm1
  tools/lib/EnhancedMetrics.psm1
  tools/lib/Formatting/Aliases.psm1
  tools/lib/Formatting/Casing.psm1
  tools/lib/Formatting/Output.psm1
  tools/lib/Formatting/Runspaces.psm1
  tools/lib/PerformanceOptimization.psm1
Labels: 💻 code, 🛠️ tools

Phase 9: Integration test suite and complete initiative summary
  COMPLETE_INITIATIVE_SUMMARY_2025-11-11.md
  tests/Integration/CoreFunctionality.Tests.ps1
Labels: 📝 documentation, 🧪 tests, 💻 code

Phase 10: Performance optimization, caching, and documentation updates
  CONTRIBUTING.md
  README.md
  tests/Unit/ASTCache.Tests.ps1
  tools/lib/ASTCache.psm1
Labels: 📝 documentation, 🧪 tests, 💻 code, 🛠️ tools

Final completion summary: 85% achievement with production-ready status
  FINAL_100_PERCENT_SUMMARY_2025-11-11.md
Labels: 📝 documentation, 💻 code

Remove Actions
  .github/actions/setup-powershell/action.yml
  .github/workflows/README.md
  .github/workflows/README.md.old
  .github/workflows/actionlint.yml
  .github/workflows/ci.yml
  .github/workflows/code-scanning.yml
  .github/workflows/comprehensive-tests.yml
  .github/workflows/coverage.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs-ci.yml
  .github/workflows/path-guard.yml
  .github/workflows/pester-architect-tests.yml
  .github/workflows/pester-tests.yml
  .github/workflows/poshguard-incremental.yml
  .github/workflows/poshguard-quality-gate.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/stale.yml
Labels: 📝 documentation, ⚙️ workflows, 💻 code, 🔒 security, 🚀 release

.github/labeler.yml:

# Configuration for PR auto-labeling
# Labels are applied based on changed files

'📝 documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.github/**/*.md'

'⚙️ workflows':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

'🧪 tests':
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/Tests.ps1'

'💻 code':
  - changed-files:
    - any-glob-to-any-file:
      - 'PoshGuard/**/*.ps1'
      - 'PoshGuard/**/*.psm1'
      - 'PoshGuard/**/*.psd1'
      - '!PoshGuard/**/*.Tests.ps1'

'🔧 config':
  - changed-files:
    - any-glob-to-any-file:
      - 'config/**'
      - '.github/dependabot.yml'
      - '.editorconfig'

'🛠️ tools':
  - changed-files:
    - any-glob-to-any-file:
      - 'tools/**'

'🔒 security':
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - 'docs/SECURITY.md'
      - 'config/SecurityRules.psd1'
      - '.github/workflows/code-scanning.yml'
      - '.github/workflows/codeql.yml'

'📦 dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'PoshGuard/PoshGuard.psd1'
      - '.github/dependabot.yml'

'🚀 release':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/CHANGELOG.md'
      - '.github/workflows/release.yml'
      - 'PoshGuard/VERSION.txt'

'📊 benchmarks':
  - changed-files:
    - any-glob-to-any-file:
      - 'benchmarks/**'
      - 'tools/Run-Benchmark.ps1'

'🎨 vscode-extension':
  - changed-files:
    - any-glob-to-any-file:
      - 'vscode-extension/**'
